body {
  font-family: Arial;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
}
figure {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px gray;
}
img {
  width: 100%;
  transition: 0.3s;
}
figure:hover img {
  transform: scale(1.1);
  opacity: 0.8;
}
figcaption {
  text-align: center;
  padding: 8px;
}
