body {
  font-family: Arial;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  gap: 20px;
}
a:hover {
  color: red;
}
input:focus {
  border: 2px solid blue;
}
button:active {
  background-color: green;
  color: white;
}
li:nth-child(2n) {
  background: lightgray;
}
