*{
    box-sizing: border-box;

}
.parent{
    display: flex;
    gap: 10px;
    padding: 10px;
}
.box1{
    background-color: rgba(255, 0, 119, 0.651);
    color: white;
    text-align: center;
    padding: 10px;
    width: 25%;
}
.box2{
    background-color: rgba(255, 94, 0, 0.852);
    color: white;
    text-align: center;
    padding: 10px;
    width: 25%;
}
.box3{
    background-color: rgba(81, 255, 0, 0.37);
    color: white;
    text-align: center;
    padding: 10px;
    width: 25%;
}
.box4{
    background-color: rgba(0, 195, 255, 0.6);
    color: white;
    text-align: center;
    padding: 10px;
    width: 25%;
}