body, html { height: 100%; margin: 0; }
.center { display: flex; align-items: center; justify-content: center; height: 100vh; background: #f2f2f2; }
.box { background: lightgreen; padding: 30px; border: 10px solid orange; margin: 20px; box-sizing: content-box; }
