.parent{
    display: flex;
}
.hover{
     border: 10px solid red ;
     height:auto;
     width: 50px;
     position: relative;
     padding: 5px;
    
}
p::after{
    content: "Suraj Nagaich";
    background-color: red;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
    color: green;
    
    
}
p:hover::after,
p:hover::before
{
    opacity: 1;
    visibility: visible;
    transition: all;
}